<div class="house" [hidden]="isEditing">
    <div>
        <div>
            <div *ngIf="hasAuth$ | async" class="property__actions-container">
                Edit House
                <i class="fa fa-edit large margin--small" (click)="isEditing = true"></i>
            </div>
        </div>
        <div class="row">
            <div class="{{isSmallView ? 'col-sm-12' : 'col-sm-6'}} house__image">
                <a class="fancybox" rel="431SEllis" [href]="house.imageUrl" title=""><img [src]="house.imageUrl" [alt]="house.address"></a>
            </div>

            <div class="{{isSmallView ? 'col-sm-12' : 'col-sm-6'}}">
                <div class="row detail-boxes">
                    <div class="col-xs-6" *ngIf="house.numBedrooms">
                        <label for="value" class="details-boxes__key">Bedrooms</label>
                        <span class="detail-boxes__value" name="value">{{house.numBedrooms}}</span>
                        <hr />
                    </div>
                    <div class="col-xs-6" *ngIf="house.numBathrooms">
                        <label for="value2" class="details-boxes__key">Bathrooms</label>
                        <span class="detail-boxes__value" name="value2">{{house.numBathrooms}}</span>
                        <hr />
                    </div>
                    <div class="col-xs-6" *ngIf="house.schoolDistrict">
                        <label for="value3" class="details-boxes__key">School</label>
                        <span class="detail-boxes__value" name="value3">{{house.schoolDistrict}}</span>
                        <hr />
                    </div>
                    <div class="col-xs-6" *ngIf="house.parking">
                        <label for="value4" class="details-boxes__key">Parking</label>
                        <span class="detail-boxes__value" name="value4">{{house.parking}}</span>
                        <hr />
                    </div>
                    <div class="col-xs-6" *ngIf="house.laundary">
                        <label for="value5" class="details-boxes__key">Laundry</label>
                        <span class="detail-boxes__value" name="value5">{{house.laundry}}</span>
                        <hr />
                    </div>
                    <div class="col-xs-6" *ngIf="house.deposit">
                        <label for="value7" class="details-boxes__key">Deposit</label>
                        <span class="detail-boxes__value" name="value7">{{house.deposit | currency:'USD':true:'1.0-0'}}</span>
                        <hr />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
    <div class="">
        <div class="row">
            <div class="col-sm-3" *ngIf="(house.owner || house.landlord) && house.isClaimed">
                <label for="owner">{{house.landlord ? 'Landlord' : 'Owner'}}</label>
                <span name="owner">{{house.landlord || house.owner}}</span>
            </div>
            <div class="col-sm-3" *ngIf="!house.isClaimed && !isOwnerView">
                <a [routerLink]="['/signup']">Do you own this property?</a>
            </div>
            <div class="col-sm-4" *ngIf="house.address">
                <label for="address">Address</label>
                <span name="address">{{house.address}}</span>
            </div>
            <div class="col-sm-3" *ngIf="house.rent">
                <label for="owner">Rent</label>
                <span name="owner">{{house.rent | currency:'USD':true:'1.0-0'}}/month</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<editable-house [house]="editableHouse" *ngIf="isEditing" (save)="save.emit($event); isEditing = false" (cancel)="isEditing = false" 
(delete)="delete.emit($event)" (changeOrder)="changeOrder($event)"></editable-house>