<div class="">
    <div class="">
        <div class="pull-left">
            <i class="fa fa-chevron-up large margin--small" (click)="changeOrder.emit({house: house, direction: -1})"></i>
            <i class="fa fa-chevron-down large margin--small" (click)="changeOrder.emit({house: house, direction: 1})"></i>
        </div>
        <div class="pull-right">
            <i class="fa fa-save large margin--small" (click)="save.emit(house)"></i>
            <i class="fa fa-close large margin--small" (click)="cancel.emit()"></i>
            <i *ngIf="house.id" class="fa fa-trash large margin--small" (click)="delete.emit(house)"></i>
        </div>
        <div class="clearfix"></div>

        <div class="image" [ngStyle]="{'background-image': 'url(' + house.imageUrl + ')'}">
            <input placeholder="Image URL" [(ngModel)]="house.imageUrl" class="full-width" />
        </div>
            <div class="row detail-boxes">
                <div class="col-sm-6 col-md-4">
                    <label for="value" class="details-boxes__key">Bedrooms</label>
                    <input class="detail-boxes__value" [(ngModel)]="house.numBedrooms" type="number" />
                    <hr />
                </div>
                <div class="col-sm-6 col-md-4">
                    <label for="value" class="details-boxes__key">Bathrooms</label>
                    <input class="detail-boxes__value" [(ngModel)]="house.numBathrooms" type="number" />
                    <hr />
                </div>
                <div class="col-sm-6 col-md-4">
                    <label for="value" class="details-boxes__key">Monthly Rent</label>
                    <input class="detail-boxes__value" [(ngModel)]="house.rent" type="number"/>
                    <hr />
                </div>
                <div class="col-sm-6 col-md-4">
                    <label for="value" class="details-boxes__key">Deposit</label>
                    <input class="detail-boxes__value" [(ngModel)]="house.deposit" type="number"/>
                    <hr />
                </div>
                <div class="col-sm-6 col-md-4">
                    <label for="value" class="details-boxes__key">Address</label>
                    <input class="detail-boxes__value" [(ngModel)]="house.address" type="text" />
                    <hr />
                </div>
                <div class="col-sm-6 col-md-4">
                    <label for="value" class="details-boxes__key">School District</label>
                    <input class="detail-boxes__value" [(ngModel)]="house.schoolDistrict" type="text" />
                    <hr />
                </div>
                <div class="col-sm-6 col-md-4">
                    <label for="value" class="details-boxes__key">Parking</label>
                    <input class="detail-boxes__value" [(ngModel)]="house.parking" type="text"/>
                    <hr />
                </div>
                <div class="col-sm-6 col-md-4">
                    <label for="value" class="details-boxes__key">Pets</label>
                    <input type="radio" name="pets" [checked]="house.petsAllowed" (change)="house.petsAllowed = true"> Pets
                    <input type="radio" name="pets" [checked]="!house.petsAllowed" (change)="house.petsAllowed = false"> No Pets
                    <hr />
                </div>
            </div>
        </div>
    <div class="clear"></div>
</div>